# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Flutter/Dart
.dart_tool/
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log

# Documentation
*.md
!README.md

# Test files
test/
integration_test/

# Android
android/app/debug
android/app/profile
android/app/release
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/outputs/
android/app/intermediates/

# iOS
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_assets/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/favicon.png